@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potvrdite registraciju";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Pritisnite ovdje za potvrdu</a>
</p>
    }
    else
    {
<p>
        Provjerite email adresu za potvrdu
</p>
    }
}
