@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrda resetirane šifre";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vaša šifra je resetirana <a asp-page="./Login">Kliknite za prijavu</a>.
</p>
