@page "/espace-info"

<div class="row mt-5">
    <div class="col-12 col-md-8 offset-md-2">
        <div class="card bg-white">
            <div class="card-body">
                <h2 class="card-title text-info mb-4">
                    VSITE.PIN Espace turnir
                </h2>
                <h4 class="card-text">
                    Dobrodošli u projektnu aplikaciju za kreiranje i upravljanje Espace turnirima
                    <br>
                    <br>
                    Projekt je izrađen korištenjem Blazor Server side tehnologije
                    <br>
                    te se sastoji od:
                    <br>
                    <br>
                    - korisniku omogućenog pregleda aktivnih turnira
                    <br>
                    <br>
                    - administratoru portala:
                    <br>
                    <br>
                    * dodavanje novih videoigara u katalog videoigara
                    <br>
                    * kreiranje turnira
                    <br>
                    * aktivaciju turnira odabirom željene videoigre
                    <br>
                </h4>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-image: url('/images/image.2.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>